/* Верхняя форма "Получить скидку" */                
/* Media запросы прописывал в main.min2.css */
.cart-portfolio__form {
	display: block;
	position: relative
}

.cart-portfolio__form::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 485px;
	background-color: #c32a3e;
	top: 16px;
	right: -10px
}

.cart-portfolio__form::before {
	content: "";
	position: absolute;
	width: 305px;
	height: 10px;
	background-color: #c32a3e;
	bottom: 5px;
	left: 24px
}

.form-discount {
	background-color: #f0f1f1;
	margin-left: 15px
}

.form-header {
	padding: 20px 35px;
	padding-bottom: 0;
	color: #1a1a18;
	font-family: Scada, sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.3;
	text-transform: uppercase;
	text-align: center
}

.form-header span {
	color: #c32a3e
}

.form-desc {
	color: #383837;
	font-family: FiraSans;
	font-weight: 300;
	font-size: 14px;
	line-height: 2;
	text-align: center;
	padding: 15px 35px
}

.form-content {
	padding: 0 10px;
	padding-bottom: 8px
}

.form-content__btn {
	display: block;
	margin: auto;
	background-color: transparent;
	color: #c32a3e;
	font-family: "FiraSans";
	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase;
	padding: 18px 60px;
	border: 3px solid #c32a3e;
	letter-spacing: 1.2px;
	transition: all 0.2s;
}

.form-content__btn:hover {
	border: 3px solid #c32a3e;
	background-color: #c32a3e;
	color: #fff
}

.form-content__input {
	width: 100%;
	display: block;
	height: 45px;
	margin-bottom: 23px;
	border: 1px solid #e1e1e1;
	padding: 17px;
	font-family: FiraSans;
	font-weight: 300;
	color: #222;
}

.form-content__checkbox label {
	display: block;
	font-size: 12px;
	color: #595959;
	font-family: FiraSans;
	line-height: 1.8;
	font-weight: 300;
	padding-left: 40px;
	margin-bottom: 15px;
	cursor: pointer;
	position: relative;
}

.form-content__checkbox label::before {
	content: "";
	position: absolute;
	top: 3px;
	left: 2px;
	background-color: #fff;
	width: 20px;
	height: 20px;
	border: 1px solid #e1e1e1;
}

.form-content__checkbox #Checkbox {
	display: none;
}

.form-content__checkbox input[type="checkbox"]:checked+label::before {
	content: "";
	background-size: 100%;
	background-image: url(../img/square-shape-shadow.svg) ;
}
/* Форма "Партнеры Сбербанк" */
.bank-container {
	max-width: 1340px;
	margin: 0 auto;
	padding-left: 11px;
	padding-right: 11px;
	margin-bottom: 40px;
}

.bank-form {
	display: block;
	margin: auto;
	background-color: #f5f5f5;
	max-width: 1310px;
	padding-left: 50px;
	padding-bottom: 60px;
	position: relative;
}

.bank-form::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 307px;
	background-color: #c32a3e;
	top: 30px;
	right: -20px;
}

.bank-form::before {
	content: "";
	position: absolute;
	width: 1300px;
	height: 20px;
	background-color: #c32a3e;
	bottom: -20px;
	left: 24px;
}

.bank-form__content span {
	display: inline-block;
	font-size: 10px;
	color: #595959;
	font-family: "FiraSans";
	font-weight: 300;
	margin-left: 15px;
	position: relative;
	letter-spacing: 1px;
}

.bank-form__content span::before {
	content: "*";
	position: absolute;
	top: 0;
	left: -10px;
	font-size: 15px;
}

.bank-form__content .input {
	width: 250px;
	height: 45px;
	margin-right: 30px;
	border: 1px solid #e1e1e1;
	padding: 17px;
	color: #222;
	font-size: 14px;
	font-weight: 300;
	font-family: "FiraSans";
}

.bank-form__content .btn {
	background-color: transparent;
	color: #c32a3e;
	font-family: "FiraSans";
	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase;
	padding: 15px 60px;
	border: 3px solid #c32a3e;
}

.bank-form__content .btn:hover {
	border: 3px solid #c32a3e;
	background-color: #c32a3e;
	color: #fff;
}

.bank-form__header {
	position: relative;
}

.bank-form__header img {
	position: absolute;
	top: 70px;
	right: 90px;
}

.bank-form__header .title {
	color: #1a1a18;
	font-family: "FiraSans";
	font-size: 18px;
	font-weight: 700;
	line-height: 1.3;
	padding-top: 50px;
	text-transform: uppercase;
}

.bank-form__header .suptitle {
	color: #1a1a18;
	font-family: "FiraSans";
	font-size: 16px;
	font-weight: 300;
	line-height: 1.9;
	padding-top: 20px;
	padding-bottom: 50px;
}

.bank-form__header .suptitle span {
	color: #c92637;
	font-weight: 700;
}
/*Кнопка "Хочу скидку"*/
.TTU {
	text-transform: uppercase;
}

.left {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 18px;
	font-size: 12px;
	color: #555;
	font-family: "FiraSans";
	font-weight: 700;
	line-height: 1.5;
	text-decoration: none;
	color: #000;
}

.left:hover {
	left: 0;
	height: 46px;
	background-color: #555;
	transform: translateY(-22px);
	color: #fff;
	padding-left: 64px;
	padding-right: 64px;
	line-height: 50px;
}

.default {
	position: relative;
	background-color: #f5f5f5;
	margin: 0 auto;
	max-width: 450px;
	padding-bottom: 50px;
}

.default-sup {
	display: inline-block;
	padding-left: 100px;
	color: #595959;
	font-family: "FiraSans";
	font-size: 12px;
	font-weight: 300;
	line-height: 1.7;
	position: relative;
	padding-bottom: 25px;
	letter-spacing: 1px;
}

.default-sup::before {
	content: "*";
	position: absolute;
	color: #c32a3e;
	font-size: 14px;
	top: 0;
	left: 90px;
}

.default-input {
	display: block;
	margin: auto;
	margin-bottom: 25px;
	border: 1px solid #e1e1e1;
	background-color: #fff;
	height: 45px;
	width: 60%;
	padding: 17px;
	color: #222;
	font-size: 14px;
	font-family: "FiraSans";
	font-weight: 300;
	line-height: 18px;
}

.heading {
	padding-top: 60px;
	color: #1a1a18;
	font-family: "Scada";
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 24px;
	text-align: center;
	padding-bottom: 20px;
	letter-spacing: .45px;
}

.descripton {
	color: #383837;
	font-family: "FiraSans";
	font-size: 14px;
	font-weight: 300;
	line-height: 2;
	text-align: center;
	padding-bottom: 20px;
	letter-spacing: .35px;
}