.cart-goods__content {
    padding-right: 8px;
}
.cart-goods__content {
    padding-right: 8px;
}
.cart-map__list {
    border-left: 0;
    padding-left: 0;
	width:100%;
}
.cart-map__list-item {
    border-left: 1px solid #c92638;
	width: 30%;
    display: inline-block;
}
#cart-slider .pop-up__slider-item {
    background-size: contain;
    background-repeat: no-repeat;
}	
.cart-layout__wrapper .cart-layout__item {
    margin-bottom: 2px; 
}
.cart-layout__wrapper .cart-layout__item::after {
    position: relative;
}
.cart-portfolio__inner {
    max-width: 1340px;
    margin: 0 auto;
    padding-left: 11px;
    padding-right: 11px;
}
.paginator__pages-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
	text-align: center;
    margin-bottom: 60px;	
}
.paginator__pages-inner a {
    font-family: PT_Sans, Arial, sans-serif;
    font-size: 14px;
    color: #909090;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 10px;
}
.paginator__pages-inner span {
    font-size: 20px;
    color: #333333;
}
h3 {
    color: #c32a3e;
    font-size: 26px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: .65px;
	padding: 0;
    margin: 0;
}
.komnat {display:inline-block; cursor:pointer;padding-right: 22px;position: relative; margin-bottom: 18px;}
.komnat:hover {color:#c32a3e;}
.komnat.active {color:#c32a3e;}	
.komnat:before {
	content:'';
	width: 50px;
	height: 2px;
	background: #c2c2c2;
	position: absolute;
	bottom: -2px;
}
.komnat.active:before {
	content:'';
	width: 50px;
	height: 2px;
	background: #c32a3e;
	position: absolute;
	bottom: -2px;
}
.vak-zag {
	color: #010101;
	font-weight: 700;
	letter-spacing: 0.35px;
	line-height: 30px;
}
.vak-zag-in {
	color: #272726;
	font-size: 14px;
	font-weight: 300;
	display:block;
}
.a-flex {
	color: #c32a3f;
	font-size: 28px;
	font-weight: 400;
	line-height: 36px;
	text-decoration: underline;
	margin-right: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.rel-dop {
	margin: 30px;
    padding-top: 30px;
}
.flex {
	display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
}
.vash {
    color: #555555;
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}
.rel34 {
    position: relative;
    bottom: 34px;
}	
.vzag {
	color: #c32a3e;
	font-weight: 700;
	letter-spacing: 0.35px;
	line-height: 44.44px;	
}
.vxx {
	font-weight: 300;
	letter-spacing: 0.35px;
	line-height: 30px;	
}
.flex .for {
	width: 46%;
	margin-bottom: 22px;
}
.flex .for:nth-child(1) {
	order: 1;	
}
.flex .for:nth-child(2) {
	order: 3;	
}
.flex .for:nth-child(3) {
	order: 2;	
}
.flex .for:nth-child(4) {
	order: 4;	
}
.h1.grey {
	position: relative;
    line-height: 70px;
    margin-bottom: 22px;
    font-size: 50px;
    text-align: left;
    bottom: 16px;	
}
.h1.grey:before {
    content: '';
    width: 60px;
    height: 2px;
    background: #c2c2c2;
    position: absolute;
    bottom: -2px;
}
.grey5 .fa{ font-size:22px; margin-right:16px; position:relative; top:5px; } 
.grey5 .fa:hover{ color:#c32a3e; } 
.grey5 a{
	color: #adb1b4;
    position: relative;
    top: -6px;
    margin-left: 10px;
} 
.grey5 {
	margin-top: 28px;
} 
.grey1 {
	color: #010101;
	line-height: 30px;
	font-weight: 700;
	letter-spacing: 0.35px;	
}
.stri {
	font-weight: 300;
	letter-spacing: 0.35px;	
	color:#383837;
	line-height: 32px;	
}
.ph {
	color: #c32a3e;
	font-weight: 300;
	letter-spacing: 0.35px;
}
.grey5 .fa-vk {
	font-size: 26px;
    margin-left: -6px;	
}
.riel {
	color: #c32a3f;
	font-size: 36px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
}
.obya {
	color: #555555;
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: 0.6px;	
	margin: 30px 0;
}
.vakanci ul {
	margin-left: 24px;
}
#ford.call_me_success {
	border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 28px;	
}
.upload-file-form {
    background-color: #f5f5f5;
    max-width: 560px;
    padding: 20px 34px;
    margin: 30px auto;
    text-align: center;
	margin-top: 70px;
}
.upload-file-form .skrep input {
    position: relative!important;
    margin: 0px!important;
    padding: 0px!important;
    width: 300px!important;
    height: 45px!important;
    opacity: 0!important;
    margin-left: 60px!important;
    top: 0px!important;
    cursor: pointer!important;	
	z-index: 8;
}
.upload-file-form .upup1,.upload-file-form .upup2 {
	display: inline-block;
    width: 44%!important;
    margin-top: 18px;
	border: 1px solid #919191;
}
.upload-file-form .upup1 {
	margin-right:40px;
}
#upload_me_file_0 {
    color: #555555;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.6px;
    margin: 30px 0;
	position: relative;
    bottom: 20px;	
}
#upload_me_file_0 img {
	position: relative;
    top: 8px;
    right: 6px;	
}
.form_fl {
    display: flex;
    justify-content: space-between;
}
.metki {
		margin-top: 40px;
		margin-left: 0px;
	}
.catalog__roms-checkbox:hover, .catalog__roms-checkbox div:hover {
    cursor: pointer;
}	
.liner {padding: 20px;
	background-color: #f0f0f0;display: flex;
	justify-content: space-between;align-items: center;
	width:100%;
	position: relative;
	top: -50px;
	flex-wrap: wrap;
}	
.pomo {
	color: #bc1a30;
	font-size: 28px;
	font-weight: bold;
}	
.pomosd {
	text-align: center;
}
.liner button {
	white-space: nowrap;
	margin: 20px 0;
}
.itema {
	text-decoration: none;
	color: #2b2b2b;
    display: flex;
    justify-content: center;
    height: auto;
    overflow: hidden;
    border: 1px solid #c9c2c7;
    text-align: center;
    margin: 10px 4%;
    display: block;
}
.itema p {
    padding: 0px;
	margin: 8px;	
	font-family: FiraSans;	
	font-weight: 200;
}	
.itema {
    color: #fff;
	display: flex;
    justify-content: space-between;
    align-items: center;  
	font-size: 14px;
}
.itema:hover {
  background: #c32a3f;
  color: #fff;
}
.col-xs-9 {width: 100%}
.col-xs-3 {width: 0%}
.col-xs-3 img {display: none}
#srup .h1.grey {
    color: #2b2b2b;
    font-size: 22px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-family: FiraSans;
    text-transform: none;
    position: relative;
    line-height: 40px;
    bottom: 4px;	
}
#srup .h1.grey:before {
    background: #fff;
}
#srup {
    max-width: 300px;
    padding-left: 30px;
	    padding-right: 0;
}
#srup p, #srup .contet{
    line-height: 18px;
    font-size: 16px;
	margin: 0;
}
#srup .team__list-item {
    top: 24px;
    right: -24px;
}
#srup  .team__list {
    margin-right: 40px;	
    margin-bottom: 30px;
	display: none;	
}
.itema img {max-width:38px;}
.b-footer {
    position: relative;
}
.catalog__item-content {
    position: relative;
    z-index: 8;
}
.temen {
	padding-top: 0;
	padding-top: 10px;	
}
.catalog__item-content.temen .catalog__item-title {
color: #ffffff;
font-family: Roboto;
font-size: 24px;
font-weight: 700;
line-height: 22px;
}
.catalog__item-content.temen .catalog__item-text {
color: #ffffff;
font-family: FiraSans;
font-size: 12px;
font-weight: 200;
}
.catalog__item-content.temen .catalog__item-text span {
color: #ffffff;
font-family: FiraSans;
font-size: 28px;
font-weight: bold;
padding-top:0px;
padding-bottom: 14px;
letter-spacing: -1.1px;
}
button.sm {
    color: #fff;
    border-color: #fff;
    margin-top: 14px;
    font-size: 15px;
    font-weight: 200;
    font-family: FiraSans;
    line-height: 30.02px;
    text-transform: uppercase;
    letter-spacing: .35px;
    height: 38px;
    border: 1px solid #fff;
    padding: 0 16%;
    background-color: transparent;
    cursor: pointer;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}
.iiii:hover button.sm {
    color: #fff;
}
.iiii .form_theme_black button, .iiii .form_theme_white button {
    padding: 0 16%;
}
button.sm:hover {
}
button.sm:hover {
  color: #fff;
  background-color: #c53145;
  border-color: #c53145;
}
.about__inner .custom-list  .custom-list__item {
    padding-bottom: 54px;	
}
.about__inner .custom-list  .custom-list__item:last-child {
    padding-bottom: 0px;	
}
.about__inner .custom-list {
    margin-top: -20px;	
}
.csyl {
	cursor: pointer;
}
.work-time__icon.work-time__icon_type_long {
    width: 122px;
}
.zapas .checkbox .checkbox__text {
    font-size: 10px!important;
    line-height: 12px!important;
    text-align: left;
}
.zapas {
	padding: 10px 4%;
}
.zapas .naush {
	width: 56px;
}
.hjkons {
	color: #fff;
    line-height: 20px;
    padding-bottom: 12px;
    position: relative;
    bottom: 12px;
}
.hj {
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
	text-align: center;
	padding: 12px 0;
	margin-bottom: 10px;
}
.naush {
    width: 34px;
    height: auto;
    margin: auto;	
	display: block;
	padding-top: 30px;
}
.ched {
	background-image: url(../img/check.png);
	background-repeat: no-repeat;
	background-position: left 5px;
	padding-left: 28px;
    line-height: 20px;
    padding-bottom: 16px;
	color:#fff;
	text-align: left;
	font-family: FiraSans;
	font-weight: 200;
    margin-left: 4px;	
}
@media (min-width: 990px){
	.bovaz {display: none}
}
@media (max-width: 1340px){
.giopa .cart-portfolio__row .cart-portfolio__item:nth-child(3),
.giopa .cart-portfolio__row .cart-portfolio__item:nth-child(4){display:none}	
}
@media (min-width: 992px){
	.cart-information__list {
		width: 100%;
		padding-right: 51px;
	}
}
@media (max-width: 992px){
	.upload-file-form .upup1, .upload-file-form .upup2 {
		width: 100%!important;
	}
}
@media (max-width:1200px){
	.catalog__rooms {
		margin-left: 0px;
	}
}
@media (max-width:768px){
	.metki {
    flex-wrap: wrap;
	}	
	.metki .catalog__roms-checkbox {
		margin-bottom: 20px;
	}	
}
::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px;
}
::-webkit-scrollbar-track {
    background-color:#f2f2f2;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color:#979797;
    box-shadow:0px 1px 1px #fff inset;
    background-image:url('../img/59610063.png');
    background-position:center;
    background-repeat:no-repeat;
}
::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:6px;
    height:0px;
}
::-webkit-scrollbar{
    width: 10px;
}
.call_me_success {text-align: center;}
.mfp__form-accept a{color: #1a1a18;}
.form_theme_white a{color: #fff;}
.work-time__icon_type_long:first-child {
    display:none;
}
.form_theme_black .checkbox__input:checked+.checkbox__text:before {
    background-image: url(../img/mark2.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.form_theme_black .checkbox .checkbox__text:before {
    border: 1px solid #666;
}
.form_theme_black .checkbox .checkbox__text {
    color: #6a6a6a;
}
.tresh {
    background-image:url(../img/arrow-right.png);
    background-repeat: no-repeat;
    background-position: left top;
    height:28px;
    width: 40px;
}
.tresh:hover {
    background-image:url(../img/right.png);
    background-repeat: no-repeat;
    background-position: left top;
    height:28px;
    width: 40px;
}
.tresh_left {
    background-image:url(../img/arrow-left.png);
    background-repeat: no-repeat;
    background-position: left top;
    height:28px;
    width: 40px;
}
.tresh_left:hover {
    background-image:url(../img/left.png);
    background-repeat: no-repeat;
    background-position: left top;
    height:28px;
    width: 40px;
}
.problems__slider-item .into {
    height: 238px;
    overflow-y: auto;
}
p.dirty {
    padding-right:30px;
}
.hiter {
    color: #979797;
    position:absolute;
    right: 30px;
    font-size: 22px;
    cursor: pointer;
    top: 24px;
}
.hiter:hover {
    color: #c32a3f
}
.alertm_overlay {    width:100%;    height:100%;    position:fixed;    left:0px;    top:0px;    z-index:99998;    background:rgba(51, 51, 51, 0.82);   display:none;}
.alertm_all {font-family: Arial;    width:396px;    padding:29px 43px;    border-radius: .25rem;  background:#fff;    position:fixed;    left:50%;    margin-left:-241px;    top:50%;    z-index:99999;    }
.alertm_all a {    -webkit-transition: all .2s ease-in-out;    -o-transition: all .2s ease-in-out;    transition: all .2s ease-in-out;    text-decoration: none;    color: #0275d8;}
.alertm_all a:hover {    color: #222;}
.alertm_h1 {    color: #0275d8;    font-size: 19px;    margin-bottom: 15px;}
.alertm_text {    font-size: 16px;    line-height: 23px;}
.alertm_wrapper {     color: red; text-align: center;}
.alertm_but {    display: inline-block;    font-weight: 400;    line-height: 1.25;    text-align: center;    white-space: nowrap;    vertical-align: middle;    -webkit-user-select: none;    -moz-user-select: none;    -ms-user-select: none;    user-select: none;
    border: 1px solid transparent;    padding: .5rem 2rem;    font-size: 1rem;    -webkit-transition: all .2s ease-in-out;    -o-transition: all .2s ease-in-out;    transition: all .2s ease-in-out;    color: #fff;
    background-color: #c53145;    border-color: #c53145;    display: block;    margin-top: 25px;    cursor: pointer;}
a.alertm_close {   display:none; color: red;    text-decoration: none;    position: absolute;    right: 7px;    top: 0px;    font-size: 25px;}